<section class="service-sec" id="benefits">
  <div class="card text-center mx-auto border-light"  style="max-width: 72rem;">
    <div class="about-container">
      <p>مجمع آراك الرقمي الطبي المتخصص في طب الأسنان </p>
        <ul class="nav nav-tabs mt-2 justify-content-end " id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">موقعنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">تجهيزاتنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">خدماتنا</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">من نحن</a>
          </li>
        </ul>

        <div class="tab-content mt-3 mb-5" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h1>رؤيتنا</h1>
                      <p>
                  نحن في مجمع آراك الرقمي لطب الأسنان ملتزمون بتقديم الخدمة والرعاية الصحية المتميزة بسواعد وطنية والحفاظ على سلامة وراحة المرضى والاستمرار في تطوير أدائنا
                  وأن نكون المنشأة الرائدة في مجال طب الأسنان في منطقة مكة المكرمة</p>
                <h1>رسالتنا</h1>
                      <p>
                نعمل لإرساء معايير جديدة في طب الأسنان نقدم بسواعد وطنية خدمات متميزة خلال نخبة من الاستشاريين والخبراء ذوي الكفاءة العالية. تجمعنا قيم وأهداف سامية، يحفزنا الإيمان والتحدي لتقديم تجربة فريدة لعملائنا تؤسس لشراكة طويلة الأمد. 
                </p>
          </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h1>خدماتنا</h1>
              <p> زراعة الأسنان <span class="dot"> </span></p> 
              <p> تقويم الأسنان <span class="dot"> </span></p>
              <p> جراحة الوجه والفكين <span class="dot"> </span></p>
              <p> علاج العصب <span class="dot"> </span></p>
              <p> أمراض وجراحة اللثة <span class="dot"> </span></p>
              <p> تبييض الأسنان في العيادة <span class="dot"> </span></p>
              <p> تبيض الأسنان المنزلي <span class="dot"> </span></p>
              <p> تركيبات الأسنان بتقنية الكاد كام الرقمي - تركيبات خلال زيارة واحدة <span class="dot"> </span></p>
              <p> الأطفال <span class="dot"> </span></p>
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h2>تجهيزاتنا</h2>
            <p> أحدث التقنيات الطبية الألمانية <span class="dot"> </span></p> 
            <p> أجهزة تبيض الأسنان <span class="dot"> </span></p>
            <p> جهاز الكاد كام - بالمسح الضوئي للفم <span class="dot"> </span></p>
            <p> جهاز الأشعة الرقمي - ثاني جهاز في المملكة من نوعه <span class="dot"> </span></p>
          </div>

          <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
              <br>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3715.89205826787!2d39.88845561480019!3d21.354752485822612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c205e5da124b0b%3A0x6fd96fb6bf935880!2z2YXYrNmF2Lkg2KLYsdin2YMg2KfZhNix2YLZhdmKINmE2LfYqCDYp9mE2KPYs9mG2KfZhiBBcmFrIERpZ2l0YWwgRGVudGFsIENsaW5pY3M!5e0!3m2!1sen!2ssa!4v1567876203606!5m2!1sen!2ssa" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
    </div>
  </div>
</section>