<%# edit page for doctors %>
<section class="service-sec mt-5">
      <div class="text-center mt-5">  
            <p> مجمع آراك الرقمي لطب الأسنان  </p>
            <div class="card border-light mb-3 text-right">
                  <div class="card-body">
                              <div class="row mb-2">
                                    <div class="col  ml-3 text-left">
                                      <%= link_to 'إظهار', @doctor, class:"profile-edit-btn" %> |
                                      <%= link_to 'رجوع', request.referer, class:"profile-edit-btn" %> 
                                    </div>
                                    <h5 class="card-title text-center text-color"> تعديل معلومات الدكتور </h5>
                              </div>
                        <p> <%= render 'form', doctor: @doctor %></p>
                  </div>
            </div> 
      </div>
</section>
