
<section class="service-sec mt-5">
        <div class="text-center mx-auto mt-5">
        <p>مجمع آراك الرقمي لطب الأسنان </p>           
                <div class="card border-ligh mb-3 mx-auto text-right" style="width: 60rem;" >
                        <div class="card-body">

                        <div class="row mb-2">
                                    <div class="col text-left">
                                       <%= link_to 'رجوع', doctors_path, class:"profile-edit-btn" %>
                                    </div>
                                  
                                    <h5 class="card-title text-color"> أضف دكتور جديد</h5>
                                 </div>
                                <p><%= render 'form', doctor: @doctor %></p>
                        </div>
                </div>
        </div>
</section>