
<div class="card border-light mb-3 mx-auto text-right" style="width: 40rem;" >
<div class="card-body">
  <h5 class="card-title text-center"> دكتور جديد    </h5>
<div class="container">  

  <%= link_to 'رجوع ', doctors_path %>
     <p class="d-flex justify-content-end">
            <%if user_signed_in?%>
            ! مرحباً  <%= current_user.first_name%> 
            <%end%>
      </p>
      
    
            <h2 class="display-5">إضافه دكتور  </h2>
            <p><%= render 'form', doctor: @doctor %></p>
         
   
</div>
</div>
</div>
