/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);




  
  .edit-links:hover {
    color: gray;
    border-bottom: 2px solid #79d3db;
    border-radius: 0;
    text-decoration: none;
  }


html{
  height: 100vh;

}

body {
  margin: 0;
  font-family: Cairo;
}


.cover-thing {
  width: 100%;
  height: 100%;
  float: left; 

}

footer{
 
  clear: both;
  text-align: center;
}

.fa-twitter, .fa-snapchat, .fa-whatsapp, .fa-instagram{
color: #78D3DB;
}
.navbar{
  background-color: #e9ecefcf;
}
.navbar.top-bar {
  border-radius: 0;
  width: 100%;
  z-index: 16;
  position: fixed;
  top:0;
  clear:both;
}
.navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  right: 21px;
}

.top-bar a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
}
.top-bar a.navbar-brand {
  color: #000;
}
.top-bar a.navbar-brand span {
  color: #79d3db;
}
.top-bar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 15px!important;
 
}

.top-bar .navbar-nav .nav-item {
  margin: 0
}
.top-bar .nav-link:hover, .top-bar .nav-item.active a {
  color: #fff;
  border-bottom: 2px solid #79d3db;
}