
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url(http://fonts.googleapis.com/earlyaccess/lateef.css); 

row{
  justify-content: center;
}

.img-d{
  width: 100vw;
  height:100vh;
}

.links a{
  color: #75767A !important;
  font-size: 15px;
}
.links {
  font-family: Cairo;
  padding: 0.5rem 1rem;
}

.links:hover {
  color: #fff;
  border-bottom: 2px solid #79d3db;
  border-radius: 0;
  text-decoration: none;
}

.swiper-button-next img, .swiper-button-prev img{
  border: 1px solid #79d3db;
    border-radius: 2px;
    font-size: 25px;
    padding: 7px 7px;
    width: 60px;
    color: white;
    margin-bottom: 20px;
    background-color:#79d3db29; 
}

.swiper-button-next{
position: absolute;
top: 50%;
right: 5%;
}
.swiper-button-prev{
  position: absolute;
  top: 50%;
  left: 5%;
}

  .service-sec .heading {
     float: left;
     width: 100%;
     margin-bottom: 70px;
     text-align:center;
  }
  .service-sec h2 {
     display: block;
     text-transform: capitalize;
     font-weight: 600;
     color: #79d3db;
     font-size: 32px;
  }
  .service-sec h2 small {
     color: #222;
     display: block;
     font-size: 22px;
     margin-bottom: 18px;
  }
  .service-sec img {
    border: 1px solid #79d3dbbb;
    border-radius: 1px;
    font-size: 25px;
    padding: 1px 7px;
    width: 60px;
    color: #79d3db;
    margin-bottom: 20px;
}
  .service-sec h3 {
     font-size: 23px;
     font-weight: 600;
  }
  .service-sec p {
     line-height: 22px;
     margin-top: 13px;
     padding: 0 21px;
  }
  .service-sec .service-block {
     margin-top: 30px;
  }
  
  /* ABOUT SECTION
  -------------------------------------------------- */

  .about-sec {
     background-size: cover;
     color: #fff;
     position: relative;
     
  }
  .about-sec:before {
     content: ' ';
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgb(129, 191, 195);
     top: 0;
     left: 0
  }
  .about-sec h2 {
     font-size: 55px;
     font-weight: 800;
     margin-top: 10%;
  }
  .about-sec h2 small {
     display: block;
     font-size: 24px;
     margin-bottom: 10px;
     padding-left: 10px;
  }
  .about-sec p {
     font-size: 16px;
  }
  

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  display: contents;
  
}
.parallax-section {
  background-attachment: fixed!important;
}
.btn-capsul {
  border-radius: 30px;
}
.btn-aqua {
  background: #79d3db;
  color: #fff;
}
.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}
.btn-dark-blue {
  background: #0C242E;
  color: #fff;
}
.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}
.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
  background: #fff;
  color: #79d3db
}

section {
  float: left;
  width: 100%;
  padding: 15px 15px;
}



.dot {
height: 10px;
width: 10px;
background-color: rgb(173, 172, 172);
border-radius: 50%;
display: inline-block;
}


.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 200px ;
  height: 180px;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
.text-color{
  color:#79d3db;
}