// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .img-d{
      width: 100vw;
      height:100vh;
  }

 .about-container{
    border: 1px solid gainsboro;
    box-shadow: 4px 7px 9px -4px rgb(158, 158, 158);
    margin-right:15px;
    margin-left:15px;
 }