
<section class="service-sec mt-5">
        <div class="text-center mx-auto mt-5">
                <p>مجمع آراك الرقمي لطب الأسنان </p>            
                <div class="card border-light mb-3 mx-auto text-right">
                        <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col text-left">
                                          <%= link_to 'عرض', @appointment, class:"profile-edit-btn" %> |
                                          <%= link_to 'رجوع', appointments_path, class:"profile-edit-btn" %> </p>
                                    </div>
                                    <h5 class="card-title text-center text-color">تعديل الموعد </h5>
                                 </div>
                                <p><%= render 'form', appointment: @appointment %></p>
                                
                        </div>
                </div>
        </div>
</section>

