<%# create a new appointment for appoinment this will render to appointment form page%>
<section class="service-sec mt-5">
        <div class="text-center mt-5">
        <p>مجمع آراك الرقمي لطب الأسنان</p>         
                <div class="card border-light mb-3 text-right" >
                        <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col ml-3 text-left">
                                          <%= link_to 'المواعيد', @appointment, class:"profile-edit-btn" %> |
                                          <%= link_to 'رجوع', request.referer, class:"profile-edit-btn" %> </p>
                                    </div>
                                    <h5 class="card-title text-center text-color"> إنشاء موعد </h5>
                                 </div>
                                <% if !user_signed_in? %>
                                        <%=link_to "تسجيل الدخول ", new_user_session_path, class:"nav-link"%>
                                <%else%>
                                <p><%= render 'form', appointment: @appointment %></p>
                                <%end%>
                        </div>
                </div>
        </div>
</section>
